<h1> Game: </h1>
<p><%=@game.name%></p>
<br>
<br/>
<h2>Publisher:</h2><br>
 <p><%=@game.publisher%></p>
<br>
<h2>Rate:</h2><br>
<p><%= @game.rate%></p><br>

<div class="btn=group">
<form action="/games/<%= @game.id %>/edit" method='patch'>
<input type="submit" class="button" value="Edit Game"/>
</form>
<form action="/games/<%= @game.id%>.delete" method="post">
<input id = "hidden" type="hidden" name="_method" value="delete"/>
<input type="submit" class="button" value="Delete Game" />
</form>
<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
  window.history.back();
}
</script>
</div> 